
body{
  background-color:#f39c12;
}

.index-wrapper{
  display: grid;
  height: 90vh;
  width: 97vw;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 15% 30% 25% 20% 1fr;
  row-gap: 2%;
  column-gap: 10px;
  grid-template-areas: 
  "hd hd hd"
  "nv sc1 pc1"
  "nv sc2 pc2"
  "nv sc3 pc3"
  ". ft ."

  ;
}


.about-wrapper{
  display: grid;
  height: 90vh;
  width: 97vw;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 15% 30% 25% 20% 1fr;
  row-gap: 2%;
  column-gap: 10px;
  grid-template-areas: 
  "hd hd hd"
  "nv sc1 sc1"
  "nv sc1 sc1"
  "nv sc2 sc2"
  ". ft ."
  ;
}

.contact-wrapper{
  display: grid;
  height: 90vh;
  width: 97vw;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 15% 30% 25% 20% 1fr;
  row-gap: 2%;
  column-gap: 10px;
  grid-template-areas: 
  "hd hd hd"
  "nv in in"
  "nv in in"
  "nv in in"
  ". ft ."
  ;
}



#inputs{
  display: flex;
  grid-area: in;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
}

#inputs :nth-child(2){
  flex-grow: 0.05;
}

#inputs :nth-child(4){
  flex-grow: 0.25;
}
#inputs :nth-child(6){
  flex-grow: 0.05 ;
}
#inputs :nth-child(8){
  flex-grow: 0.05 ;
}


#inputs button{
  flex-grow: 0.1;
  margin-left: 300px;
  margin-right: 300px;
}

#inputs h2{
  margin-bottom: 0;
}

header{
  align-content: center;
  grid-area: hd;
}

header h1 {
  text-align: center;
}
nav{
  grid-area: nv;
  display: flex;
  position: sticky;
  top:0;
  left: 0;
  flex-direction: column;
  align-items: center;
  gap:5px;

}

nav a{
  gap: 100px;
  width: 100%;
  height: 5rem;
  text-align: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
  border: solid;
}

nav a:hover{
  background-color: rgba(0, 0, 0, 0.7);

}



footer{
  grid-area: ft;
  font-size: 10px;
}

.index-wrapper section{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);

}

.index-wrapper #sc1{
  grid-area: sc1;
}
.index-wrapper #sc2{
  grid-area: sc2;
}
.index-wrapper #sc3{
  grid-area: sc3;
}

.index-wrapper #pc1{
  grid-area: pc1;
  background-image: url(/img/guld.jpg);
}
.index-wrapper #pc2{
  grid-area: pc2;
  background-image: url(/img/guld.jpg);
}
.index-wrapper #pc3{
  grid-area: pc3;
  background-image: url(/img/guld.jpg);
}



.about-section1{
  grid-area: sc1;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.about-section1 div{
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex: 1;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section1 div h2{
  text-align: center;
}

.about-section1 div img{
  width: 150px;
  height: 150px;

  border-radius: 100px;
  
}
.about-section1 div:nth-child(1){
}
.about-section1 div:nth-child(2){
}
.about-section1 div:nth-child(3){
}

.about-section2{
  grid-area: sc2;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}
.about-section2 p{ 
  grid-area: sc2;
  font-size: 25px;
}


